.main-wrapper {
    width: 80%;
    margin: 45px auto;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.65);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: scroll;
    padding: 25px;
    position: relative;
}

.main-wrapper header {
    display: flex;
}

.transperant-img1-wrapper {
    width: 100px;
    z-index: 2;
}

.transperant-img1-wrapper img {
    width: 100%;
}

.transperant-img2-wrapper {
    width: 180px;
}

.transperant-img2-wrapper img {
    width: 100%;
    z-index: 99;

}

.main-wrapper  h1 {
    text-align: center;
}

.main-wrapper header p {
    font-style: italic;
    margin: auto;

}

.main-wrapper h4 {
    text-indent: 2em;
    margin: 25px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    color: rgb(38, 38, 38);
}

.functionalities {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.functionalities h2 {
    margin: 15px auto;
    text-shadow: 0px 4px 20px #ffaa00;
    border-bottom: 3px solid black;
    width: 100%;
}

.main-wrapper .function-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-wrapper .function-wrapper h4 {
    margin: 5px;
}

.main-wrapper .img-wrapper {
    width: 30px;
    margin: 0 5px;
}
.main-wrapper .img-wrapper img {
    width: 100%;
}