
.form-wrapper form {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
    position: relative;
}


form label {
    color: white;
    text-align: center;
    margin: 6px;
}

form input, select {
    background-color: black;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    color: white;
    width: 45%;
    height: 35px;
}

.form-wrapper form button {
    width: 100px;
    margin-bottom: 150px;
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(18, 200, 18);
    border: 3px solid rgba(0, 0, 0, 0.866);
    border-radius: 5px;
    font-size: 20px;
}

.profile-img-preview {
    width: 120px;
    margin: 15px;
    position: absolute;
    top: 255px;
    right: 55px;

}
.profile-img-preview img {
}

.profile-img-preview h4 {
    color: white;
    text-align: center;
}

.profile-img-preview img {
    width: 100%;

}