@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.nav-panel {
    height: 65px;
    background-color: #ffffff99;
    border: 0 solid white;
    box-shadow: 0px 0px 16px 3px rgba(38,38,38,0.88);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-panel a {
    text-decoration: none;
    font-weight: 900;   
    font-size: 2vw;
}

.nav-panel li :hover {
    color: black;
    text-shadow: 0px 4px 20px #000000;
}

.nav-panel ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
}

.nav-panel li {
    list-style: none;
}
.nav-panel .img-wrapper {
    position: relative;
    width: 110px;
}
.nav-panel .img-wrapper p {
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: -2px;
    margin-left: 15px;
    font-style: italic;
}

.nav-panel .img-wrapper img {
    width: 100%;
    margin-top: 10px;
}

.active-link {
    color: darkred;
}

.inactive-link {
    color: rgba(0, 0, 0, 0.7);
}
