/* Main container with character cards */

.character-list-container {
    display: flex;
    flex-wrap: wrap;
    margin: 75px 45px;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 2px;
    min-height: 90vh;
    position: relative;
    justify-content: space-evenly;
    align-content: flex-start;

}

.character-list-container h1 {
    text-align: center;
    width: 100%;
    color: rgb(0 0 0 / 70%);
    font-size: 20px;
}


.add {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -38px;
    right: -15px;
}

.add :hover {
    background-color: hsl(68, 100%, 57%, 0.7);
    box-shadow: 0px 0px 30px 12px #E1FF24;
}
