/* Main container with character cards */

.character-list-container {
    display: flex;
    flex-wrap: wrap;
    margin: 75px 45px;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 2px;
    min-height: 90vh;
    position: relative;
    justify-content: space-evenly;
    align-content: flex-start;

}

.character-list-container h1 {
    text-align: center;
    width: 100%;
    color: rgb(0 0 0 / 70%);
    font-size: 25px;
}


.add {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -38px;
    right: -15px;
}

.add img {
    width: 100%;
}

.add :hover {
    background-color: hsl(68, 100%, 57%, 0.7);
    box-shadow: 0px 0px 30px 12px #E1FF24;
    cursor: pointer;

}

.load-data-btn {
    background-color: rgba(0, 0, 0, 0.824);
    border: none;
    padding: 8px;
    color: white;
    cursor: pointer;
    margin: 0;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    width: 100%;
}
